@charset "utf-8";

@import "system";
@import "way";
@import "example";
@import "owl";




html {
    width: 100%;
    height: 100%;
  
}

body {
    font-family: 'Noto Sans TC', "Microsoft JhengHei", sans-serif;
    -webkit-overflow-scrolling: touch;
   
}
